/* App.css ou index.css */
.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-red-500::-webkit-scrollbar-thumb {
  background-color: #ef4444;
  border-radius: 9999px;
}

.scrollbar-track-zinc-800::-webkit-scrollbar-track {
  background-color: #27272a;
}

/* Vous pouvez ajouter ce CSS dans votre fichier App.css ou Layout.css si nécessaire */

nav {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  /* Ombre portée sous la barre de navigation */
}

nav a {
  font-weight: 500;
}

nav .text-red-600 {
  font-weight: bold;
}

body {
  background-color: #111;
  color: white;
}


.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  transition: border 0.3s;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
}

.movie-poster,
.serie-poster {
  width: 100%;
  max-width: 200px;
  margin: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.movie-poster:hover,
.serie-poster:hover {
  transform: scale(1.05);
}