/* App.css ou index.css */
.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-red-500::-webkit-scrollbar-thumb {
  background-color: #ef4444;
  border-radius: 9999px;
}

.scrollbar-track-zinc-800::-webkit-scrollbar-track {
  background-color: #27272a;
}

/* Vous pouvez ajouter ce CSS dans votre fichier App.css ou Layout.css si nécessaire */

nav {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  /* Ombre portée sous la barre de navigation */
}

nav a {
  font-weight: 500;
}

nav .text-red-600 {
  font-weight: bold;
}

body {
  background-color: #111;
  color: white;
}